<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @* <link href="http://demo.goigi.com/lingaru/Content/themes/custombootstrap.css" rel="stylesheet"/>*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        h4 {
            margin: 0;
        }

        h5 {
            margin: 0;
            margin-bottom: 5px;
        }

        p {
            margin: 0;
            text-align: justify;
            margin-left: 25px;
            margin-right: 25px;
        }

        ul#menu li {
            display: inline;
        }

        body {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            font-family: verdena;
        }

        hr {
            visibility: hidden;
        }
    </style>


</head>

<body>
    @RenderBody()
</body>
</html>
